header{
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: 0 20px 20px 0px #ebebeb;
}
.topo{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 0;
    right: 0;
}
nav img{
    margin-top: -9px;
}
